<nav class="navbar navbar-expand-lg  bg-dark">
    <div class="container-fluid ">

        <a class="navbar-brand  text-white fs-2" [routerLink]="['/']">
            <img src="assets/Images/logo.png" alt="Bootstrap" width="120" height="100"> Carta Online
        </a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-dark"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            
            <div class="" id="botones" *ngIf="!registrado">
                <button class="btn btn-primary btn-lg" [routerLink]="['/login']">Iniciar Sesión</button>
                    
                <button class="btn btn-secondary btn-lg" [routerLink]="['/register']">Registrarse</button>
            </div>

            <div class="d-flex align-items-center" id="botones" *ngIf="registrado">
                
                <button class="btn btn-info btn-lg text-black">Bienvenido: {{nombreUsuario}}</button>
                <button class="btn btn-danger btn-lg text-black" (click)="logout()" [routerLink]="['/login']">Cerrar sesión</button>
            </div>
        </div>
    </div>
</nav>