<footer class="bg-dark text-center text-white">
    <div class="container p-4">
      <section class="mb-4">
        <p>
          <img src="assets/Images/logo.png" alt="Bootstrap" width="250" height="250">
        </p>
        <h1>Carta Online</h1>
      </section>

      
      
    </div>
    
  
    
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">samuel.arnaiz@campusfp.es</a>
    </div>
    
  </footer>
