<div style="display: flex; justify-content: center;">
    <div class="card" style="width: 40rem; ">
        <div class="card-body" style="text-align: center;">
            <h2 class="card-title"><u>Registro de Usuario</u></h2>
            <form [formGroup]="registerForm" (ngSubmit)="submit()">
                <label for="nombreUsuario">Nombre de cuenta</label><br>
                <input type="text" name="nombreUsuario" formControlName="nombreUsuario"><br><br>
                
                <label for="nombre">Nombre</label><br>
                <input type="text" name="nombre" formControlName="nombre"><br><br>

                <label for="apellidos">Apellidos</label><br>
                <input type="text" name="apellidos" formControlName="apellidos"><br><br>

                <label for="email">Email</label><br>
                <input type="email" name="email" formControlName="email"><br><br>

                <label for="confemail">Confirmar Email</label><br>
                <input type="email" name="confemail" formControlName="confEmail"><br><br>

                <label for="pass">Contraseña</label><br>
                <input type="password" name="pass" formControlName="pass"><br><br>

                <label for="confpass">Confirmar Contraseña</label><br>
                <input type="password" name="confpass" formControlName="confPass"><br><br>

                <button type="submit" class="btn btn-lg btn-success">Registrarse</button>
            </form>
        </div>
    </div>
</div>